{% extends 'header.html' %}

{% block head %}


<title>Index</title>
{% endblock %}

{% block content %}

    <!--    ACCEPTD UI  -->
<!--
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4 col-lg-4 col-sm-12" style="margin-bottom:20px;">
                <a href="/predict" style="text-decoration: none; color: black;">
                    <div class="card">
                        <div class="card-header">
                            <h4></h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Predictor</h5>
                            <p class="card-text">Fill out the form to get an estimated price for a
                                California house.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4">
                <a href="/train" style="text-decoration: none; color: black;">
                    <div class="card">
                        <div class="card-header">
                            <h4><i class="fa-solid fa-brain"></i></h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Initiate Model training</h5>
                            <p class="card-text">Start training the housing estimator model. Logs,
                                artifacts, and models can be viewed and downloaded using the appropriate
                                link.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4">
                <a href="/logs" style="text-decoration: none; color: black;">
                    <div class="card">
                        <div class="card-header">
                            <h4></h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Log Files</h5>
                            <p class="card-text">Download all model training log files.</p>
                        </div>
                    </div>
                </a>
            </div>



            <div class="col-md-6 col-lg-4">
                <a href="/artifact" style="text-decoration: none; color: black;">
                    <div class="card">
                        <div class="card-header">
                            <h4></h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Artifact Files</h5>
                            <p class="card-text">Download all model artifacts files</p>
                        </div>
                    </div>
                </a>
            </div>



            <div class="col-md-6 col-lg-4">
                <a href="/saved_models" style="text-decoration: none; color: black;">
                    <div class="card">
                        <div class="card-header">
                            <h4></h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Trained Models</h5>
                            <p class="card-text">Download all model files</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4">
                <a href="/update_model_config" style="text-decoration: none; color: black;">
                    <div class="card">
                        <div class="card-header">
                            <h4><i class="fas fa-cogs"></i></h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Update Model Config</h5>
                            <p class="card-text">Update Model Config</p>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>


</div>
-->
<div class="row flex-wrap">
<div class="card-container" id="animated-container">
    <div class="row flex-wrap" id="animated-row">

        <div class="col-sm-3 col-md-4 col-lg-3">
            <div class="cardBox">
                <div class="card" id="animated-card">
                    <h6>F1</h6>

                    <div class="content">
                        <h1>8.98</h1>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-4 col-lg-3">
            <div class="cardBox">
                <div class="card" id="animated-card">
                    <h6>ROC AUC</h6>

                    <div class="content">
                        <h1>0.989</h1>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-4 col-lg-3">
            <div class="cardBox">
                <div class="card" id="animated-card">
                    <h6>Accuracy</h6>

                    <div class="content">
                        <h1>0.86</h1>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-4 col-lg-3">
            <div class="cardBox">
                <div class="card" id="animated-card">
                    <h6>Precision</h6>

                    <div class="content">
                        <h1>0.876</h1>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>


<!------------ CARD FLASH --------------->

<div class="testimonials-container" id="testimonials">

    <div class="testimotionals">

        <div class="card">
            <div class="layer">
                <h1 style="font-size:4em"><i class="fas fa-robot fa-fade"></i></h1>
                <br>
                <h1> Classifier </h1>

            </div>
            <a href="/predict" style="text-decoration: none; color: black;">
            <div class="content">
                <h1><i class="fa-solid fa-circle-play"></i></h1>
                <h1 style="color:white;font-size:1em"> Launch </h1>
            </div>
            </a>
        </div>
  </div>




<div class="testimotionals">
  <div class="card">
    <div class="layer">
        <h1 style="font-size:4em"><i class="fa-solid fa-brain fa-shake"></i></h1>
        <br>
        <h1> Train </h1>
    </div>
      <a href="/train" style="text-decoration: none; color: black;">
        <div class="content">
            <h1><i class="fa-solid fa-meteor"></i></h1>
            <h1 style="color:white;font-size:1em">Trigger</h1>
        </div></a>
  </div>
</div>



<div class="testimotionals">
  <div class="card">
    <div class="layer">
        <h1 style="font-size:4em"><i class="fa-regular fa-clipboard"></i></h1><br>
    <h1>Logs</h1>
    </div>
      <a href="/logs" style="text-decoration: none; color: black;">
    <div class="content">
        <h1><i class="fa-solid fa-right-to-bracket"></i></h1>
        <h1 style="color:white;font-size:1em">logs</h1>

    </div></a>
  </div>
</div>

<div class="testimotionals">
  <div class="card">
    <div class="layer">
        <h1 style="font-size:4em"><i class="fa-solid fa-paperclip"></i></h1>
        <br>
    <h1> Artifacts</h1>
    </div>
      <a href="/artifact" style="text-decoration: none; color: black;">
    <div class="content">
        <h1><i class="fa-solid fa-right-to-bracket"></i></h1>
        <h1 style="color:white; font-size:1em">Artifacts</h1>

    </div></a>
  </div>
</div>

 <div class="testimotionals">
      <div class="card">
        <div class="layer">
            <h1 style="font-size:4em"><i class="fa-brands fa-pagelines"></i></h1><br>
            <h1>Saved Models</h1>
        </div>
        <a href="/saved_models" style="text-decoration: none; color: black;">
            <div class="content">
                <h1><i class="fa-solid fa-right-to-bracket"></i></h1>
                <h1 style="color:white; font-size:1em">Models</h1>

    </div>
        </a>
      </div>
</div>

    <div class="testimotionals">
  <div class="card">
    <div class="layer">
        <h1 style="font-size:4em"><i class="fa-solid fa-gear fa-spin"></i></h1>
        <br>
    <h1> Config</h1>
    </div>
      <a href="/update_model_config" style="text-decoration: none; color: black;">
    <div class="content">
        <h1><i class="fa-solid fa-right-to-bracket"></i></h1>
        <h1 style="color:white; font-size:1em">Update</h1>

    </div></a>
  </div>
</div>

</div>



<!---------    CARD FOR BACKGROUND GLOBE --------->
<!--
<div class="card" style="background-color: rgb(255, 255, 255);">
    <div class="content">

        <svg viewBox="-500 -500 1000 1000">
            <circle r="450"></circle>
            <circle class="equator" r="450"></circle>
            <circle class="meridian" r="450"></circle>
            <circle class="meridian" r="450"></circle>
            <circle class="meridian" r="450"></circle>
            <circle class="meridian" r="450"></circle>
            <circle class="meridian" r="450"></circle>
            <circle class="meridian" r="450"></circle>
            <circle class="meridian" r="450"></circle>
            <circle class="meridian" r="450"></circle>
            <circle class="meridian" r="450"></circle>
            <circle class="meridian" r="450"></circle>
            <circle class="meridian" r="450"></circle>
            <circle class="meridian" r="450"></circle>
        </svg>
    </div>
</div>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
-->




{% endblock %}